body{
    font-family: Quattrocento Sans;
}

.header-1{
    background-color: #334A76;
}

.font_color{
    color:#334A76
}

h2{
    color: white;
}

.content{
    background-color: #F4F2FD;
}